



/*   --footer--   */

.footer {
    position:relative;
    z-index: -1;
    width: 100%;
    background-image: url('../img/background-img_footer.png');
    margin-top: -224px;
}

.footer::before {
    content: '';
	position: absolute;
    z-index: -2;
    top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: linear-gradient(180deg, rgba(24, 24, 24, 0.9) 3.47%, rgba(24, 24, 24, 0.72) 100%);
}


.footer__container {
    max-width: 925px;
    margin: 0 auto;
    padding: 0 18px 0 18px;
    display: flex;
    flex-direction: column;

}


.footer__empty {
    height: 273px;
}  /* без этого блока почему-то не работает одновременно - сдвиг вверх для footer (margin-top: -224px;) и свиг вниз для h3 (margin-top: 200px;) */


.footer__h3 {
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #E3B873;
   
}


.footer__icons {
    display: flex;
    justify-content: center;
    margin-top: 24px;
}
.footer__icon {
    padding-right: 15px;
}

.footer__map {
    width: 100%;
    object-fit: cover;
    margin-top: 40px;
    margin-bottom: 100px;
}


.footer__map-iframe {
    width: 100%;
}



