@media (max-width: 1000px) {

    /*   --section-projects--   */
        .projects__section {
            padding-bottom: 0px;    
        }
    
        .projects__photo-gallery ul {
            display: none;
        }
    
        .projects__container {
            padding: 34px 18px 0px 18px;
        }
    
        .projects__title {
            position: static;
        }
        
    
    
    
        .projects__total {
            flex-direction: column;
            align-items: center;
        }
    
    
        .projects__info {
            max-width: 442px;
            min-height: 190px;
            padding-top: 30px;
            padding-bottom: 0px;
        }
    
    
        .projects__photo-gallery {
            order: -1;
            margin: 0 auto;
            margin-top: 50px;
        }
    
        .projects__photo {
            position: relative;
            display: flex;
            align-items: center;
        }
    
        
        
        .projects__slider {
            display: none;
        }
    
        .projects__slider--mobile {
            position: absolute;
            width: 100%;
            display: flex;
            justify-content: space-between;
            padding: 0 10px 0 10px; /*всё сьезжает вправо почему-то  */
        }
        .mob-slide-arrow--right {
            transform: scale(-1, 1)
        }  
    
    
        
        .projects__h2 {
        font-size: 22px;
        line-height: 138.6%;
        align-self: center;
        }
    
        .projects__p {
            font-size: 11px;
            line-height: 17px;
            align-self: center;  /* НЕ ПОЛУЧАЕТСЯ ВЫРОВНЯТЬ ПО ЦЕНТРУ */
        }
        
        .projects__h4 {
            font-size: 14px;
            line-height: 138.6%;
        }
        
        .projects__block span {
            font-size: 11px;
            line-height: 15px;
        }
    
}    